<div class="user-areaWrap">
    <h2>ログイン</h2>
    <%= form_with model: @user do |form| %>
    <div class="user-area">
        <%= form.label :name, "ユーザー名" %>
        <%= form.text_field :name %>
    </div>
    <div class="user-area">
        <%= form.label :email, "メールアドレス" %>
        <%= form.text_field :email %>
    </div>
    <div class="user-area">
        <%= form.label :password, "パスワード" %>
        <%= form.password_field :password %>
    </div>
    <%= form.submit "ログイン", class: 'common-post-btn' %>
    <% end %>
</div>