<p>ユーザー情報</p>
<%= form_with model: @user do |form| %>
    <div>
        <%= form.label :name, "ユーザー名" %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :email, "メールアドレス" %>
        <%= form.text_field :email %>
    </div>
    <div>
        <%= form.label :image_name, "アイコン画像" %>
        <%= form.file_field :image_name %>
    </div>
    <div>
        <%= form.label :password, "パスワード" %>
        <%= form.text_field :password %>
    </div>
    <%= form.submit "更新" %>
<% end %>